
  body {
    margin: 0;
    font-family: Arial, 'New Times Roman', Helvetica, sans-serif;
    background-color: #302f2f;
    color: #dcddde;
  }
  
  
  p {
    font-size: 18px;
    color: #9c9ea0;
  }
  
  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
  
  .logo {
    width: 75px;
    height: 75px;
    max-width: 80px;
    margin: 24px 20px;
    transition: transform 0.4s;
  }
  
  .logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  header {
    text-align: center;
  }
  
  h1 {
    font-size: 60px;
    font-weight: 400;
    margin-top: 0px ;
    margin-bottom: 0;
    color: #c4a6ff;
  }
  
  h2 {
    font-size: 26px;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
  }
  
  .container {
    margin: 0 auto;
    padding: 0 40px;
  }
  .color{
    color: #9c9ea0;
  }
 
  